<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1046927067232-09qtga8dlo5kjtsccq9n7hvt8615itll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046927067232-09qtga8dlo5kjtsccq9n7hvt8615itll</string>
	<key>API_KEY</key>
	<string>AIzaSyAaIP2crxxz2IfhhrnglS6mngqBuSuIM4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1046927067232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crisurbanblogt.com.YoutubeApp</string>
	<key>PROJECT_ID</key>
	<string>youtubeapp-206316</string>
	<key>STORAGE_BUCKET</key>
	<string>youtubeapp-206316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046927067232:ios:ea8a96b8078aaa4e</string>
	<key>DATABASE_URL</key>
	<string>https://app-206316.firebaseio.com</string>
</dict>
</plist>